<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Kaxan</title>
</head>

<body>
  <!--clase desktop-->
  <article class="login-back show-on-large hide-on-small-only">
  <section class="container">
    <div class="row">
      <div class="col l12 login">
        <form class="col l6 right teal lighten-4" action="#">
          <!--botón para ingresar con Google-->
          <div class="col l12 center google">
            <a class="waves-effect waves-light btn" id="btn-google"><img class="left google-icon" src="../assets/images/icono-google.png" alt=""> Ingresa con Google</a>
          </div>
            <div class="input-field name-login">
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Usuario o correo electrónico</label>
            </div>
            <div class="input-field">
          <input id="pass" type="password" class="validate">
          <label for="pass">Contraseña</label>
        </div>
        <div class="input-field col l12">
          <p class="center">
            <input type="checkbox" id="test5" />
           <label for="text5">Remember Me</label>
          </p>
      </div>
      <!--activa modal para registrarse-->
      <div class="col l12 center">
        <a class="modal-crea waves-effect waves-light btn modal-trigger" href="#modal1">Crea tu cuenta</a>
      </div>
      </form>
      </div>
  </div>
  </section>
    </article>
<!--clase mobile-->
<article class="login-back-mobile hide-on-large-only">
<section class="container">
  <div class="row">
    <div class="col s12 login-mobile">
      <form class="col s12 center teal lighten-4" action="#">
        <!--botón para ingresar con Google-->
        <div class="col s12 center google">
          <a class="waves-effect waves-light btn" id="btn-google"><img class="left google-icon" src="../assets/images/icono-google.png" alt=""> Ingresa con Google</a>
        </div>
          <div class="input-field name-login">
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Usuario o correo electrónico</label>
          </div>
          <div class="input-field">
        <input id="pass" type="password" class="validate">
        <label for="pass">Contraseña</label>
      </div>
      <div class="input-field col s12">
        <p class="center">
          <input type="checkbox" id="test5" />
         <label for="text5">Remember Me</label>
        </p>
    </div>
    <!--activa modal para registrarse-->
    <div class="col s12 center">
      <a class="modal-crea waves-effect waves-light btn modal-trigger" href="#modal1">Crea tu cuenta</a>
    </div>
    </form>
    </div>
</div>
</section>
  </article>








  <!--modales-->
  <div id="modal1" class="modal teal lighten-4">
    <div class="modal-content">
      <div class="row">
        <form class="col s12 m12 l12">
          <!---botón registrarse con Google-->
          <div class="col s12 m12 l12 center google">
            <a class="waves-effect waves-light btn" id="btn-google"><img class="left google-icon" src="../assets/images/icono-google.png" alt=""> Ingresa con Google</a>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Nombre completo" id="name" type="text" class="validate">
              <label for="first_name"></label>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Ingresa tu correo" id="email" type="email" class="validate">
                <label for="email"></label>
              </div>
            </div>
            <!--ingresa contraseña-->
            <div class="input-field col s12">
              <input placeholder="Ingresa tu contraseña" id="confirm-password" type="text" class="validate">
              <label for="password"></label>
            </div>
            <!--confirma contraseña-->
            <div class="input-field col s12">
              <input placeholder="Confirma tu contraseña" id="password" type="text" class="validate">
              <label for="password"></label>
            </div>
          </div>
          <div class="col s3 modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Crear</a>
          </div>
        </form>
      </div>
      </div>



    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
</body>

</html>
