<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Kaxan</title>
  </head>
  <body>
    <article class="login-back">
      <section class="container">
        <div class="row login teal lighten-2">
      <form class="col s12 l6">
        <div class="row">
          <div class="input-field col s10 m10">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">First Name</label>
          </div>
          <div class="input-field col s10 m10">
        <i class="material-icons prefix">vpn_key</i>
        <input id="pass" type="password" class="validate">
        <label for="pass">Password</label>
      </div>
      <div class="input-field col s12 m12">
         <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
        <label for="filled-in-box">Remember Me</label>
      </div>
  </div>
  <!--botón para ingresar con Google-->
  <div class="col s12 m12">
    <a class="waves-effect waves-light btn" id="btn-google"><i class="material-icons left">cloud</i>Ingresa con Google</a>
  </div>
  <!--activa modal para registrarse-->
  <div class="col s12 m12">
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
  </div>
      </form>
    </div>
  </section>
    </article>





<!--modales-->
<div id="modal1" class="modal">
    <div class="modal-content">
      <div class="row">
    <form class="col s12">
  <!---botón registrarse con Google-->
      <div class="col s12 m12">
        <a class="waves-effect waves-light btn" id="btn-google"><i class="material-icons left">cloud</i>Ingresa con Google</a>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="name" type="text" class="validate">
          <label for="first_name">Name</label>
        </div>
        <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
<!--ingresa contraseña-->
      <div class="">
        <h6>Ingresa tu contraseña</h6>
      </div>
      <div class="input-field col s12">
        <input id="confirm-password" type="text" class="validate">
        <label for="password">Password</label>
      </div>
<!--confirma contraseña-->
     <div class="">
      <h6>Ingresa tu contraseña</h6>
     </div>
      <div class="input-field col s12">
        <input id="password" type="text" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    </form>
  </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>



    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
  </body>
</html>
