<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Kaxan</title>
  </head>
  <body class="#ffecb3 amber lighten-4">
    <section class="row">
      <nav class="teal lighten-1  col l12 s12 m12">
     <div class="nav-wrapper">
         <a href="newsfeed.html" class="brand-logo hide-on-small-only"> <img class="logo-icon" src="../assets/images/logo-kaxan-bco.png" alt=""></a>
        <ul class=" right col l6 s12 m12">
          <li><a href="profile.html"><i class="material-icons">account_circle</i></a></li>
         <li><a href="friends.html"><i class="material-icons">group</i></a></li>
         <li><a href="messages.html"><i class="material-icons">email</i></a></li>
         <li><a href="places.html"><i class="material-icons">pin_drop</i></a></li>
         <li><a href="settings.html"><i class="material-icons">settings</i></a></li>
         <li><a href="mobile.html"><i class="material-icons">menu</i></a></li>
       </ul>
     </div>
   </nav>
 </section>
    <section class="container post-user-newfeed">
      <div  class="row">
        <div class="col s12 m12 left user-profile-newsfeed">
          <!--foto de perfil desktop-->
          <div class="col l3 left profile-pic-news hide-on-small-only">
            <img class="circle" src="../assets/images/profile-example.jpg" height="200px" width="200px" alt="">
          </div>
          <!--foto de perfil mobile-->
          <div class="col l3  profile-pic-news hide-on-large-only show-on-small">
            <img class="circle" src="../assets/images/profile-example.jpg" height="200px" width="200px" alt="">
          </div>
          <!--escribir post-->
          <div class="col s12 m12 l8 right">
            <div class="file-field input-field">
              <div class="btn">
                <!-- agregando el boton para subir archivos (imagenes) -->
                <i class="material-icons dp48">image</i>
                <input id="upload-file" type="file" accept="image/*">
              </div>
              <div class="file-path-wrapper">
                <input id="upload-file" class="file-path validate" type="text">
              </div>
              <img id="image" style="width: 100px; height: 100px;">
            </div>
            <div class="input-field write-post">
              <input placeholder="Publica una actualización de estado" id="add-post" type="text" class="validate">
              <label for="add-post"></label>
              <!-- agregando boton para postear -->
              <button id="post" type="button" name="button">Postear</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <!---ICONO REACCION DESHABILITADOS
          <div class="row ">
            <div class="col s12 m12 post-user-icon">
              <ul>
                <li><a href="sass.html"><i class="material-icons">search</i></a></li>
                <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
                <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
              </ul>
            </div>
          </div>
        -->
        </div>
      </section>
      <!--post de amigos se crean dinamicamente-->
      <section id="conteinerPost" class="row post-friend">
        <!-- a partir de aqui todo debe ser dinamico -->
        <div class="col s12 m12 profile-post">
          <div class="col s1 m1 left profile-pic">
            <img class="circle" src="../assets/images/profile-friend-example.jpg" height="30px" width="30px" alt="">
          </div>
          <!--- DESHABILITADOS
          <div class="col s9 m19 right address">
            <h6>Aquí va la dirección del lugar</h6>
          </div>
        -->
        </div>
        <div class="row pic-post-friend">
          <div class="col s12 m12">
            <a class="modal-trigger" href="#modal-post-friends"><img class="responsive-img"src="../assets/images/image-post-friend-example.jpg" alt=""></a>
          </div>
        </div>
      </div>
    </section>
    <!--modal post amigos-->
    <!--Modal post-->
    <div id="modals">
      <div id="modal-post-friends" class="modal">
        <div class="modal-content">
          <section class="row post-friends">
            <div class="col s12 m12 profile-post">
              <div class="col s12 m12 left address">
                <h6>Aquí va la dirección del lugar</h6>
              </div>
              <div class="row pic-post">
                <img class="responsive-img" src="../assets/images/image-post-friend-example.jpg" alt="">
              </div>
              <div class="row coment-post">
                <h6>aqui av aescribir loq ue quiera aksnashsajhnkjasdhnsdahfahfodhadfsdhdshfkjaKJADSJKABCKJCBSCKJASCUSAOICSIUASIUASISAKJACSAJKHDOUSDHSIU</h6>
              </div>
              <div class="row icon-cost">
                <li><a href="sass.html"><i class="material-icons">attach_money</i></a></li>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
  </body>
</html>
