<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Kaxan</title>
  </head>
  <body>
    <nav>
    <div class="nav-wrapper col s12 m12">
      <a href="#!" class="brand-logo left"><i class="material-icons">cloud</i>Logo</a>
      <ul class="right">
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
  <!--perfil usuario-->
  <section class="row profile">
    <!--foto de prfil-->
    <div class="col s3 m3 left profile-pic">
      <img class="circle" src="../assets/images/profile-example.jpg" height="100px" width="100px" alt="">
    </div>
    <!--info de perfil-->
    <div class="col s7 m7 right profile-info">
      <h5>User</h5>
      <h6>dato</h6>
      <h6>dato</h6>
    </div>
    <!--iconos de perfil-->
    <div class="row">
      <div class="col s12 m12 right profile-icon-preference">
        <ul class="right">
          <li><a href="sass.html"><i class="material-icons">cloud_circle</i></a></li>
          <li><a href="sass.html"><i class="material-icons">cloud_circle</i></a></li>
          <li><a href="sass.html"><i class="material-icons">cloud_circle</i></a></li>
          <li><a href="sass.html"><i class="material-icons">cloud_circle</i></a></li>
        </ul>
      </div>
    </div>
  </section>
  <!--post se crean dinamicamente-->
  <section class="row post">
    <div class="col s12 m12 profile-post">
      <div class="col s12 m12 left address">
        <h6>Aquí va la dirección del lugar</h6>
      </div>
      <div class="row pic-post">
        <div class="col s12 m12">
          <a class="modal-trigger" href="#modal-post"><img class="responsive-img"src="../assets/images/image-post-example.jpg" alt=""></a>
        </div>

      </div>
    </section>

      </div>
    </div>

  </section>



  <!--Modal post-->
  <div id="modal-post" class="modal">
      <div class="modal-content">
        <section class="row post">
          <div class="col s12 m12 profile-post">
            <div class="col s12 m12 left address">
              <h6>Aquí va la dirección del lugar</h6>
            </div>
            <div class="row pic-post">
              <img class="responsive-img" src="../assets/images/image-post-example.jpg" alt="">
            </div>
            <div class="row coment-post">
              <h6>aqui av aescribir loq ue quiera aksnashsajhnkjasdhnsdahfahfodhadfsdhdshfkjaKJADSJKABCKJCBSCKJASCUSAOICSIUASIUASISAKJACSAJKHDOUSDHSIU</h6>
            </div>
            <div class="row icon-cost">
              <li><a href="sass.html"><i class="material-icons">attach_money</i></a></li>

      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>











    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
  </body>
</html>
